#header-img{
    width: 20%;  
}
#header{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    position: static;
}
#nav-bar{
    display: flex;
    flex-grow: 4;
    justify-content: right;
}
.nav-link{
    text-decoration: none;
    margin: 0% 3% ;
    font-size: 20px;
    color: black;
}